@charset "utf-8";

/* 온고롱 PJ : 공통 클래스 CSS - core.css*/
/* 공통 셋팅을 위한 클래스 + 웹폰트 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 
    
    1. 캐릭터 설명 제목체
    font-family: 'Gugi', cursive;
    2. 캐릭터 설명 내용체
    font-family: 'Single Day', cursive;
    3. 캐릭터 설명 한자체
    font-family: 'ZCOOL KuaiLe', cursive;
    4. 전체 공통체(메뉴 등)
    font-family: 'Nanum Gothic', sans-serif;
*/
/* 전체 글자 크기 적용 */
html{
    font-size: 10px;
    /* rem 단위를 위한 계산 편의성 + 전체 글자크기 제어 */
}
/* 전체 공통 글자체 세팅 */
body{
    font-family: 'GangwonEdu_OTFBoldA';
}
/* 공통 레이아웃 클래스 */
body *{
    /* outline: 1px solid coral; */
}
/* 상단영역 폰트공통 */
/* #header{
    font-family: 'GangwonEdu_OTFBoldA';
} */
/* 파트박스 */

/* 메인박스
.inbox {
    outline: 1px dashed red;
}  */

/* 기본값 설정 */
:root{
    --fz-tit : 3.5rem;
    --fz-biger : 4rem;
    --fz-big : 3rem;
    --fz-top : 2.4rem;
    --fz-sub : 1.6rem;
    --fz-nav : 2.2rem;
    --fz-sign : 2rem;
    --co-ondgop:rgb(17 46 24 / 50%);
    --co-ondarkgreen: rgb(17, 46, 24);
    --co-ondarkblue: rgb(11, 33, 46);
    --co-ongreen : rgb(87, 98, 82);
    --co-onlightgreen: rgb(126, 136, 121);
    --co-onbeige : rgb(252, 232, 206);
}
/* IR 숨기기 class */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* 화면출력 숨기기 클래스 */
.blind{
    display: none;
}
/* top타이틀 */
.top-title{
    font-size: var(--fz-tit);
}
/* sub타이틀 */
.sub-title{
    font-size: var(--fz-big);
}
/* 더보기 버튼 */
.move-view-btn{
    display: block;
    position: absolute;
    /* 부모는 더보기 안쪽 박스 */
    left: 50%;
    /* 중앙정렬 */
    transform: translateX(-50%) scale(1.2);
    /* 버튼디자인 */
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    padding-top: 3px;
    padding-right: 10px;
    font-size: var(--fz-sub);
    font-family: 'GangwonEdu_OTFBoldA';
    text-align: center;
    box-shadow: 1px 1px 3px #00000080;
}
.move-view-btn:hover{
    text-shadow: 1px 0px 0px #00000080;
    box-shadow: 1px 1px 8px #00000080;
}   
.move-view-btn::after{
    content: '';
    position: absolute;
    top: 5px;
    right: 13px;
    width: 19px;
    height: 19px;
    background: url(../../01.자료수집/images/direc_icon.png) no-repeat;
    background-size: 625px 375px;
    background-position: -328px -272px;
}
.move-view-btn:hover::after{
    transform: translate(1px,-1px) scale(1.1)
}