@charset "uft-8";
/* 온고롱 메인페이지 - main_copy.css */
/* CSS 불러오기 영역 */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 메인페이지 배경 */
#main {
    background-color: #eeeeee;
    overflow: hidden;
}
/* 2-1. 이벤트배너 banner-area*/
/* 2-1-2. 배너박스 */
.main-banner {
    position: relative;
    /* 배너 설명박스용 부모 */
}
.banner-area {
    aspect-ratio: 1/1;
    overflow: hidden;
    margin-left: min(6vw, 200px);
}
/* 배너 이미지영역 */
.banner-ul {
    position: relative;
    /* 위치이동을 위한 포지션 */
    display: flex;
    left: 0;
    aspect-ratio: 1/1;
    height: 100%;
}
/* 배너이미지 ul>li>img*/
.banner-area img {
    display: block;
    /*이미지는 박스에 맞춤!*/
    height: 100%;
    aspect-ratio: 1/1;
    /* 이미지 비율유지 채우기! */
}
/* 배너 설명박스 영역*/
.banner-desc {
    position: absolute;
    /* 부모는 ul>li박스 */
    top: 55%;
    /* 이미지크기 800 */
    right: min(4vw, 200px);
    transform: translateY(-50%);
    max-width: 350px;
    aspect-ratio: 4/3;
    overflow: hidden;
}
/* 배너설명박스 전체 ol */
.banner-desc ol {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 설명박스 li */
.banner-desc ol > li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
/* 설명타이틀.banner-desc>ol>li.tit */
.banner-desc .tit {
    display: block;
    position: relative;
    flex-basis: 20%;
    color: var(--co-ondarkblue);
    /* 타이틀 글자 */
    font-size: var(--fz-big);
    text-align: center;
    line-height: 60px;
}
.banner-desc .tit::after{
    content: '';
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 0%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--co-ondgop) 60%, transparent);
    transition: .3s;
    opacity: 0;
}
.banner-desc .tit:hover::after{
    opacity: 1;
    width: 90%;
}
/* 설명내용.banner-desc>ol>li.txt */
.banner-desc .txt {
    display: block;
    flex-basis: 80%;
    font-size: var(--fz-top);
    color: var(--co-ongreen);
    padding: 10px 30px;
    line-height: 1.5;
}
/* 더보기버튼.banner-desc>ol>li.button */
.banner-desc .move-view-btn {
    top: 80%;
}
/* 배너이동 버튼.move-btn 공통설정 */
.move-btn {
    position: absolute;
    font-size: 6rem;
    top: calc(50% - 51px / 2);
    cursor: pointer;
    color: var(--co-ongray);
    background-color: transparent;
}
/* 왼쪽 배너로 이동 .prev-btn*/
.prev-btn {
    left: min(2vw, 100px);
}
/* 왼쪽 배너로 이동 오버시*/
.prev-btn:hover {
    color: var(--co-onlightgreen);
}
/* 오른쪽 배너로 이동  next-btn*/
.next-btn {
    right: min(2vw, 100px);
}
/* 오른쪽 배너로 이동 오버시*/
.next-btn:hover {
    color: var(--co-onlightgreen);
}
/* 2-2. 메인테마 */
.main-thema {
    display: flex;
}
.main-thema .partbox {
    flex-basis: 100%;
}
.main-thema img {
    height: min(30vw, 300px);
}
/* 2-3. 컨셉이미지 */
.main-scroll-banner {
    height: 600px;
}
.scroll-banner-box {
    position: relative;
    /* .white-box부모자격 */
    overflow: hidden;
}
/* 스크롤 무한배너 ul */
.scroll-banner-box ul {
    position: relative;
    left: 0;
    display: flex;
    gap: 0 20px;
    animation: scroll-ani 20s linear 1s infinite;
}
@keyframes scroll-ani {
    to {
        left: calc((-250px * 7) + (-20px * 7));
    }
}

/* 왼쪽 흐릿박스 */
.white-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to right, #eee, rgba(255, 255, 255, 0));
}
/* 오른쪽 흐릿박스 */
.white-box:last-child {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to left, #eee, rgba(255, 255, 255, 0));
}
.scroll-banner-box li {
    border-radius: 3px;
    flex-shrink: 0;
    flex-basis: 250px;
    aspect-ratio: 25/60;
    overflow: hidden;
}
.scroll-banner-box img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 목록형 상자 공통 */
/* 인기상품 및 리뷰 */
/* 2-4. 인기상품 */
/* 2-7. 리뷰 */
.list-type {
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
/* 2-4-1. 인기상품 타이틀 */
/* 2-7-1. 리뷰 타이틀 */
.list-type > .partbox:first-of-type {
    height: 120px;
}
/* 인기상품 타이틀 테두리 */
.list-type h1.tit {
    height: 40px;
    /* 글자세팅 */
    font-size: var(--fz-big);
    text-indent: 35px;
    line-height: 42px;
    letter-spacing: 2px;
    /* 중앙정렬 */
    transform: translateY(-50%);
    margin-top: 20px;
    padding: 10px 20px;
    /* background-color: #fff; */
}
/* 인기상품 타이틀 이미지 */
.list-type h1.tit::before {
    content: "\f164";
    position: absolute;
    display: block;
    left: -25px;
    line-height: 30px;
    font-size: 3rem;
    color: #ffc404;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-shadow: -1px 2px 2px #ff000080;
}
/* 2-4-2. 인기상품 리스트 */
/* 2-7-2. 리뷰 리스트 */
.list-type ol {
    display: flex;
    gap: 0px 50px;
    height: 100%;
}
.list-type ol > li {
    height: 100%;
    flex-basis: 25%;
    flex-shrink: 1;
}
.list-type ol > li > .partbox {
    height: 100%;
    box-shadow: 1px 1px 6px #00000080;
    background-color: rgba(243, 243, 243);
}
/* 리스트 박스 마우스오버시 */
.list-type ol > li > :hover {
    border-radius: 15px;
    overflow: hidden;
    /* 트랜지션 */
    transition: 0.3s;
}
/* 이미지 */
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: translate(4px, 1px); */
}
/* 상품태그 */
.prod-tag {
    font-size: var(--fz-sub);
}
/* 2-7-3. 리뷰 더보기 */
/* 2-4-3. 인기상품 더보기 */
.list-type > .partbox:last-of-type {
    position: relative;
    height: 120px;
}
.list-type > .partbox:last-of-type button {
    top: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}
/* 리스트관련 개별세팅 */
/* 인기상품******** */
/* 이미지 */
.hot-item-list .img-box {
    width: 100%;
    aspect-ratio: 1/1;
}
/* 정보박스 */
.hot-item-list .txt-box {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 3/1;
    padding: 20px;
}
/* 상품정보 공통 */
.txt-box li {
    margin-bottom: 5px;
}
/* 상품명 */
.prod-name {
    font-size: var(--fz-big);
    font-weight: bold;
}
/* 상품가 */
.prod-price {
    font-size: var(--fz-top);
}
/* 리뷰************ */
/* 정보박스 */
.review-list .txt-box {
    box-sizing: border-box;
    width: 100%;
    /* 이미지 크기를 제외한 크기가 정보박스 */
    height: calc(100% - 200px);
    padding: 20px;
}
.review-list .txt-box ul {
    display: flex;
    height: 100%;
    flex-direction: column;
}
/* 이미지 */
.review-list .img-box {
    width: 100%;
    height: 200px;
}
/* 작성자 */
.reviewer {
    font-size: var(--fz-sub);
}
/* 리뷰내용 */
.review-txt {
    height: 105px;
    font-size: var(--fz-top);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
/* 리뷰태그 */
.review-list .prod-tag {
    margin-bottom: 0;
    margin-top: auto;
}
/* 2-5. 추천검색 */
.main-key-search {
    position: relative;
    min-height: 300px;
}
/* 추천검색 파트박스 */
.main-key-search .partbox {
    height: 250px;
}
/* 추천검색창 타이틀 */
.main-key-search h1 {
    font-size: var(--fz-tit);
    text-align: center;
    height: 100%;
    color: #1a1a1a;
    text-shadow: 0px 0px 3px #fff;
}
/* 추천검색 검색구역(검색부) */

/* 검색창 */

/* 키워드 말풍선 공통 */
.bubble-key {
    position: absolute;
    height: 65px;
    background-color: var(--co-onlightgreen);
    border-radius: 22px;
    /* box-shadow: 1px 1px 10px 0px #00000080; */
    /* 글자세팅 */
    padding: 0 20px;
    font-size: var(--fz-sign);
    color: white;
    line-height: 65px;
    /* box-shadow대신 filter:drop-shadow를 써야 클립패쓰까지 그림자 적용됨!!! */
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    cursor: pointer;
}
/* 말풍선 위치 개별 */
.bubble-key.b1 {
    top: 10px;
    left: 12vw;
}
.bubble-key.b2 {
    top: 120px;
    left: 10vw;
}
.bubble-key.b3 {
    top: 198px;
    left: 19vw;
}
.bubble-key.b4 {
    top: 77px;
    right: 11vw;
}
.bubble-key.b5 {
    top: 0px;
    right: 15vw;
}
/* 말풍선꼬리 공통 */
.bubble-key::after {
    position: relative;
    top: -10%;
    left: -33%;
    content: "";
    display: block;
    width: 50px;
    height: 30px;
    transform: rotate3d(5, -7, 1, 38deg);
    background-color: var(--co-onlightgreen);
}
/* 말풍선꼬리 왼쪽 */
.bubble-key.b1::after,
.bubble-key.b2::after {
    clip-path: polygon(14% 33%, 19% 15%, 27% 0, 82% 0, 68% 20%, 61% 44%, 61% 64%, 65% 80%, 75% 100%, 49% 87%, 31% 73%, 18% 55%);
    top: -17%;
    left: 52%;
    transform: rotateY(315deg);
}
.bubble-key.b3::after {
    clip-path: polygon(14% 33%, 19% 15%, 27% 0, 82% 0, 68% 20%, 61% 44%, 61% 64%, 65% 80%, 75% 100%, 49% 87%, 31% 73%, 18% 55%);
    top: -136%;
    left: -35%;
    transform: rotateY(315deg) rotateX(180deg);
}
/* 말풍선꼬리 오른쪽 */
.bubble-key.b4::after,
.bubble-key.b5::after {
    clip-path: polygon(54% 28%, 44% 14%, 27% 0, 85% 0, 94% 13%, 99% 29%, 97% 55%, 84% 80%, 61% 100%, 66% 78%, 67% 58%, 62% 41%);
}
/* clip-path: polygon(14% 33%, 19% 15%, 27% 0, 82% 0, 68% 20%, 61% 44%, 61% 64%, 65% 80%, 75% 100%, 49% 87%, 31% 73%, 18% 55%); */
/* 추천검색 아래쪽구역(제품부) */
.main-key-search .key-prod-box {
    /* 초기값 */
    height: 0;
    overflow: hidden;
    flex-basis: 50%;
    /* 트랜지션 */
    transition: 0.4s;
}

/* 서브메뉴 선택 시 제품고르기 겉박스 올라오기 */
.key-prod-box.view {
    height: 500px;
}
/* 제품고르기 박스 */
.key-prod-box .list-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: min(63vw, 935px);
    height: min(27vw, 400px);
    min-height: auto;
    margin: 5px auto;
    border-radius: 30px;
    outline: 1px solid #8080806b;
    background-color: white;
}
/* 상품 타이틀 구역 */
.key-prod-box .list-type > .partbox:first-of-type {
    height: 65px;
    box-shadow: none;
}
/* 상품 타이틀 테두리 */
.key-prod-box .list-type h1.tit {
    display: inline-block;
    left: 50%;
    height: 40px;
    width: auto;
    box-shadow: 1px 1px 3px #00000080;
    /* 중앙정렬 */
    transform: translate(-50%, -50%);
}
/* 상품 타이틀 손가락 공통 */

/* 키워드 상품 리스트박스 */
.key-prod-box .list-type .list {
    max-height: 350px;
    margin: 0 auto;
}
/* 리스트박스 ol */
.key-prod-box .list-type ol {
    display: flex;
    gap: 0px 20px;
    height: 100%;
    justify-content: space-around;
}
/* 리스트박스 li */
.key-prod-box .list-type ol > li {
    max-width: 280px;
    flex: 1;
}
/* 리스트 박스 li 오버 시 */
.key-prod-box .list-type ol > li:hover {
    cursor: pointer;
}
/* 리스트 박스 li안쪽 박스 */
.key-prod-box .list-type .partbox {
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 28/35;
    box-shadow: 1px 1px 6px #00000080;
}
/* 이미지 바깥쪽 박스 */
.key-prod-box .img-box {
    width: 100%;
    aspect-ratio: 1/1;
}
/* 이미지 */
.key-prod-box .img-box img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* transform: translate(4px, 1px); */
}
/* 정보박스 */
.key-prod-box .txt-box {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 0 10px;
}
/* 상품정보 공통 */
.key-prod-box .txt-box li {
    margin-bottom: 5px;
}
/* 상품명 */
.key-prod-box .prod-name {
    font-size: var(--fz-big);
    font-weight: bold;
}
/* 상품가 */
.key-prod-box .prod-price {
    font-size: var(--fz-top);
}

/* 2-6. 주문진행 */
.main-order-process {
    display: flex;
    height: 150px;
}
.main-order-process .partbox {
    flex-basis: 100%;
}

/*****************미디어쿼리*****************/
/* 1450px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1450px) {
    /*배너 설명박스 위치 */
    .banner-desc {
        position: absolute;
        top: 50%;
        right: min(6vw, 200px);
        width: 30vw;
    }
    /*배너 설명타이틀*/
    /* .banner-desc .tit {
        font-size: min(2.1vw,2.9rem);
    } */
    /* 글자크기를 바꾸면 될 듯? */
    /*배너 설명박스*/
    .banner-desc .txt {
        padding: 10px 25px;
        /* font-size: var(--fz-nav); */
    }
    /* 무한스크롤 배너 높이 */
    .main-scroll-banner {
        height: 528px;
    }
    /* 무한스크롤 배너 */
    .scroll-banner-box li {
        flex-basis: 220px;
    }
    /* 스크롤 무한배너 ul */
    .scroll-banner-box ul {
        gap: 0 15px;
    }
    /* 스크롤 배너 애니메이션 */
    @keyframes scroll-ani {
        to {
            left: calc((-220px * 7) + (-15px * 7));
        }
    }
    /*상품리스트 부모박스*/
    .list-type .list {
        padding: 0 30px;
    }
    /*상품 리스트 ol*/
    .list-type ol {
        gap: 0px 30px;
    }
    /* 키워드 검색창 타이틀 */
    .main-key-search h1 {
        line-height: 60px;
        /* font-size: var(--fz-big); */
    }
    .key-prod-box.view {
        height: 30vw;
    }
    /* 말풍선 위치 */
    .bubble-key.b1 {
        top: 10px;
        left: 8vw;
    }
    .bubble-key.b2 {
        top: 120px;
        left: 2vw;
    }
    .bubble-key.b3 {
        top: 198px;
        left: 13vw;
    }
    .bubble-key.b4 {
        top: 77px;
        right: 2vw;
    }
    .bubble-key.b5 {
        top: 0px;
        right: 8vw;
    }
} /* 1450px이하 미디어쿼리 종료 */

/* 1050px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1050px) {
    /* 배너 이미지박스 */
    .banner-area {
        width: 650px;
        margin: 0 auto;
    }
    /* 배너 설명박스 숨기기 */
    .banner-desc {
        display: none;
    }
    /* 상품리스트 ol */
    .list-type ol {
        gap: 0px 1.4vw;
    }
    /* 키워드 창 타이틀 */
    .main-key-search h1 {
        width: 352px;
        margin: 0px auto;
        padding: 50px;
    }
    /* 말풍선 위치 */
    .bubble-key.b1 {
        top: 10px;
        left: 9vw;
    }
    .bubble-key.b2 {
        top: 108px;
        left: 2vw;
    }
    .bubble-key.b3 {
        top: 185px;
        left: 24vw;
    }
    .bubble-key.b4 {
        top: 83px;
        right: 3vw;
    }
    .bubble-key.b5 {
        top: 0px;
        right: 10vw;
    }
    /* 키워드 상품 보여주기클래스 */
    .key-prod-box.view {
        height: 280px;
    }
    /* 키워드 상품 li */
    .key-prod-box .list-type ol > li {
        max-width: 250px;
        flex: 1;
    }
    /* 키워드 상품txt창 */
    .key-prod-box .txt-box {
        height: 50px;
    }
    /* 키워드 상품 가격창 */
    .key-prod-box li.prod-price {
        display: none;
    }
    /* 제품명 */
    .prod-name {
        font-size: min(var(--fz-big), 2.6vw);
    }
    /* 리뷰 텍스트창 */
    .review-txt {
        height: 85px;
    }
} /* 1050px이하 미디어쿼리 종료 */

/* 750px 이하 미디어쿼리 시작 */
@media screen and (max-width: 750px) {
    /* 무한스크롤 배너 높이 */
    .main-scroll-banner {
        height: 432px;
    }
    /* 무한스크롤 배너 */
    .scroll-banner-box li {
        flex-basis: 180px;
    }
    /* 스크롤 무한배너 ul */
    .scroll-banner-box ul {
        gap: 0 7px;
    }
    /* 스크롤 배너 애니메이션 */
    @keyframes scroll-ani {
        to {
            left: calc((-180px * 7) + (-7px * 7));
        }
    }
    /* 상품리스트 ol*/
    .list-type ol {
        flex-wrap: wrap;
        gap: 2vw 2vw;
    }
    /* 상품리스트 ul */
    .list-type ol > li {
        flex-basis: 48%;
    }
    /* 제품명 */
    .prod-name {
        font-size: var(--fz-big);
    }
    /* 키워드 창 타이틀 */
    .main-key-search h1 {
        width: 247px;
    }
    /* 말풍선 위치 */
    .bubble-key.b1 {
        top: 10px;
        left: 9vw;
    }
    .bubble-key.b2 {
        top: 108px;
        left: 2vw;
    }
    .bubble-key.b3 {
        top: 230px;
        left: 24vw;
    }
    .bubble-key.b4 {
        top: 83px;
        right: 3vw;
    }
    .bubble-key.b5 {
        top: 0px;
        right: 10vw;
    }
    /* 리뷰 텍스트 상자 */
    .review-txt {
        font-size: var(--fz-sign);
        height: 80px;
    }
}
/* 500px 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    /* 이벤트 배너박스 */
    .banner-area {
        width: 100vw;
    }
    /* 무한스크롤 배너 높이 */
    .main-scroll-banner {
        height: 250px;
    }
    /* 무한스크롤 배너 */
    .scroll-banner-box li {
        flex-basis: 100px;
    }
    /* 스크롤 무한배너 ul */
    .scroll-banner-box ul {
        gap: 0 10px;
    }
    /* 스크롤 무한배너 옆 white box */
    .white-box {
        width: 100px;
    }
    /* 스크롤 배너 애니메이션 */
    @keyframes scroll-ani {
        to {
            left: calc((-150px * 7) + (-10px * 7));
        }
    }
    /* 상품리스트 txt*/
    .hot-item-list .txt-box {
        position: absolute;
        height: 25px;
        bottom: 0px;
        background-color: #ffffff80;
        padding: 1.2vw;
    }
    /* 상품리스트 */
    .list-type ol > li {
        /* 리스트txt박스 부모역할 */
        position: relative;
    }
    /* 상품리스트 박스 */
    .list-type .list {
        padding: 0 5px;
    }
    /* 상품명 */
    li.prod-name {
        font-size: var(--fz-nav);
    }
    /* 상품가 */
    li.prod-price {
        display: none;
    }
    /* 상품태그 */
    li.prod-tag {
        display: none;
    }
    /* 상품리스트 ol */
    .list-type ol {
        justify-content: center;
    }
    /* 말풍선 위치 */
    .bubble-key.b1 {
        top: -7px;
        left: 3vw;
    }
    .bubble-key.b2 {
        top: 160px;
        left: 2vw;
    }
    .bubble-key.b3 {
        top: 254px;
        left: 36vw;
    }
    .bubble-key.b4 {
        top: 158px;
        right: 5vw;
    }
    .bubble-key.b5 {
        top: 4px;
        right: 3vw;
    }
    /* 리뷰 텍스트상자 */
    li.review-txt {
        margin-bottom: 1px;
        height: 52px;
        -webkit-line-clamp: 3;
    }
    .review-list .txt-box {
        padding: 5px;
    }
    .review-list .img-box {
        height: 140px;
    }
}