@charset "uft-8";
/* 온고롱 메인페이지 - main_copy.css */
/* CSS 불러오기 영역 */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);

/* 2-1. 이벤트배너 banner-area*/
/* 2-1-2. 배너박스 */
.main-banner{
    position: relative;
    /* 배너 설명박스용 부모 */
}
.banner-area{
    height: 800px;
    width: 800px;
    overflow: hidden;
    margin-left: 200px;
}
/* 배너 이미지영역 */
.banner-ul{
    position: relative;
    /* 위치이동을 위한 포지션 */
    display: flex;
    left: 0;
    aspect-ratio: 1/1;
    height: 800px;
}
/* 배너이미지 ul>li>img*/
.banner-area img{
    display: block;
    /*이미지는 박스에 맞춤!*/
    height: 100%;
    aspect-ratio: 1/1;
    /* 이미지 비율유지 채우기! */
}
/* 배너 설명박스 영역*/
.banner-desc{
    position: absolute;
    /* 부모는 ul>li박스 */
    top: 50%;
    /* 이미지크기 800 */
    left: 1050px;
    transform: translateY(-50%);
    width: 400px;
    height: 300px;
    overflow: hidden;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #00000080;

}
/* 배너설명박스 전체 ol */
.banner-desc ol{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 설명박스 li */
.banner-desc ol>li{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
}
/* 설명타이틀.banner-desc>ol>li.tit */
.banner-desc .tit{
    display: block;
    flex-basis: 20%;
    background-color: var(--co-ondarkblue);
    /* 타이틀 글자 */
    font-size: var(--fz-big);
    text-align: center;
    line-height: 60px;
}
/* 설명내용.banner-desc>ol>li.txt */
.banner-desc .txt{
    display: block;
    flex-basis: 80%;
    font-size: var(--fz-top);
    background-color: var(--co-ondarkgreen);
    padding: 10px 30px;
    line-height: 1.5;
}
/* 더보기버튼.banner-desc>ol>li.button */
.banner-desc .move-view-btn{
    top:80%;
}
/* 왼쪽 배너로 이동 .prev-btn*/
.prev-btn{
    position: absolute;
    width: 45px;
    height: 51px;
    left: min(2vw, 100px);
    top: calc(50% - 51px/2);
    background: url(../../01.자료수집/images/direc_icon.png) no-repeat;
    background-size: 625px 375px;
    background-position: -289px -179px;
}
/* 오른쪽 배너로 이동  next-btn*/
.next-btn{
    content: '';
    position: absolute;
    width: 45px;
    height: 51px;
    right: min(2vw, 100px);
    top: calc(50% - 51px/2);
    background: url(../../01.자료수집/images/direc_icon.png) no-repeat;
    background-size: 625px 375px;
    background-position: -393px -180px;
}
/* 2-2. 메인테마 */
.main-thema{
    display: flex;
    height: 300px;
}
.main-thema .partbox{
    flex-basis: 100%;
    background: rgb(87, 98, 82) url(../../01.자료수집/images/main04.jpg) no-repeat left/100%;
}
/* 2-3. 컨셉이미지 */
.main-scroll-banner{
    display: flex;
    height: 600px;
}
.main-scroll-banner .partbox{
    flex-basis: 100%;
}
/* 목록형 상자 공통 */
/* 인기상품 및 리뷰 */
/* 2-7. 리뷰 */
/* 2-4. 인기상품 */
.list-type{
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
/* 2-7-1. 리뷰 타이틀 */
/* 2-4-1. 인기상품 타이틀 */
.list-type>.partbox:first-of-type{
    height: 80px;
}
/* 인기상품 타이틀 테두리 */
.list-type h1.tit{
    display: block;
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border-radius: 45%;
    box-shadow: 1px 1px 3px #00000080;
    /* 글자세팅 */
    font-size: var(--fz-top);
    text-align: center;
    line-height: 42px;
    letter-spacing: 2px;
    /* 중앙정렬 */
    transform: translateY(-50%);
    padding: 0 10px;
    background-color: #fff;
}
/* 인기상품 타이틀 이미지 */
.list-type h1.tit::before{
    content: '';
    display: block;
    position: absolute;
    left: 4%;
    width: 40px;
    height: 40px;
    transform: translateX(-100%);
    background-image: url(../../01.자료수집/images/info.png);
    background-size: 700px 450px;
    background-position: -664px -108px;
    filter: drop-shadow(-1px 2px 2px #00000080);
}
/* 2-7-2. 리뷰 리스트 */
/* 2-4-2. 인기상품 리스트 */
.list-type .list{
    height: 400px;
    width: 1200px;
    margin: 0 auto;
}
.list-type ol{
    display: flex;
    gap: 0px 20px;
    height: 100%;
}
.list-type ol>li{
    height: 100%;
    flex-basis: 25%;
    flex-shrink: 1;
}
.list-type ol>li>.partbox{
    height: 100%;
    box-shadow: 1px 1px 6px #00000080;
}
/* 이미지 */
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: translate(4px, 1px); */
}
/* 상품태그 */
.prod-tag{
    font-size: var(--fz-sub);
}
/* 2-7-3. 리뷰 더보기 */
/* 2-4-3. 인기상품 더보기 */
.list-type>.partbox:last-of-type{
    position: relative;
    height: 80px;
}
.list-type>.partbox:last-of-type button{
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
}
/* 리스트관련 개별세팅 */
/* 인기상품******** */
/* 이미지 */
.hot-item-list .img-box{
    width: 100%;
    height: 300px;
}
/* 정보박스 */
.hot-item-list .txt-box{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 300px);
    padding: 10px;
}
/* 상품정보 공통 */
.txt-box li{
    margin-bottom: 5px;
}
/* 상품명 */
.prod-name{
    font-size: var(--fz-big);
    font-weight: bold;
}
/* 상품가 */
.prod-price{
    font-size: var(--fz-top);
}
/* 리뷰************ */
/* 정보박스 */
.review-list .txt-box{
    box-sizing: border-box;
    width: 100%;
    /* 이미지 크기를 제외한 크기가 정보박스 */
    height: calc(100% - 200px);
    padding: 20px 10px;
}
.review-list .txt-box ul{
    display: flex;
    height: 100%;
    flex-direction: column;
}
/* 이미지 */
.review-list .img-box{
    width: 100%;
    height: 200px;
}
/* 작성자 */
.reviewer{
    font-size: var(--fz-sub);
}
/* 리뷰내용 */
.review-txt{
    height: 105px;
    font-size: var(--fz-top);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
}
/* 리뷰태그 */
.review-list .prod-tag{
    margin-bottom: 0;
    margin-top:auto;
}
/* 2-5. 추천검색 */
.main-key-search{
    display: flex;
    /* 키워드박스 부모 */
    position: relative;
    flex-direction: column;
    height: 500px;
}
/* 추천검색 검색구역(검색부) */
.main-key-search>.partbox:first-of-type{
    flex-basis: 50%;
}
/* 검색창 */
.key-search-box{
    /* 위치 이동을 위한 relative */
    position: relative;
    top: 40%;
    left: 50%;
    line-height: 50px;
    text-align: center;
    transform: translate(-50%, -50%) scale(1.8);
}
/* 키워드 말풍선 공통 */
.bubble-key{
    position: absolute;
    width: 100px;
    height: 65px;
    background-color: lightblue;
    border-radius: 40px;
    /* box-shadow: 1px 1px 10px 0px #00000080; */
    /* 글자세팅 */
    padding-left: 20px;
    font-size: var(--fz-sign);
    line-height: 65px;
    font-family: 'GangwonEdu_OTFBoldA';
    /* box-shadow대신 filter:drop-shadow를 써야 클립패쓰까지 그림자 적용됨!!! */
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
/* 말풍선 위치 개별 */
.bubble-key.b1{
    top: 10px;
    left: 12vw;
}
.bubble-key.b2{
    top: 120px;
    left: 10vw;
}
.bubble-key.b3{
    top: 150px;
    left: 20vw;
}
.bubble-key.b4{
    top: 50px;
    right: 10vw;
}
.bubble-key.b5{
    top: 133px;
    right: 18vw;
}
/* 말풍선꼬리 공통 */
.bubble-key::after{
    position: relative;
    top: -10%;
    left: 10%;
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background-color: lightblue;
}
/* 말풍선꼬리 왼쪽 */
.bubble-key.b1::after, .bubble-key.b2::after, .bubble-key.b3::after{
    clip-path: polygon(14% 33%, 19% 15%, 27% 0, 82% 0, 68% 20%, 61% 44%, 61% 64%, 65% 80%, 75% 100%, 49% 87%, 31% 73%, 18% 55%);
}
/* 말풍선꼬리 오른쪽 */
.bubble-key.b4::after, .bubble-key.b5::after{
    clip-path: polygon(54% 28%, 44% 14%, 27% 0, 85% 0, 94% 13%, 99% 29%, 97% 55%, 84% 80%, 61% 100%, 66% 78%, 67% 58%, 62% 41%);
}
/* clip-path: polygon(14% 33%, 19% 15%, 27% 0, 82% 0, 68% 20%, 61% 44%, 61% 64%, 65% 80%, 75% 100%, 49% 87%, 31% 73%, 18% 55%); */
/* 추천검색 아래쪽구역(제품부) */
.main-key-search>.partbox:last-of-type{
    /* display: none; */
    flex-basis: 50%;
}
/* 2-6. 주문진행 */
.main-order-process {
    display: flex;
    height: 150px;
}
.main-order-process .partbox{
    flex-basis: 100%;
}
