/*****************미디어쿼리*****************/
/* 1450px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1450px) {
    .footer .footer-company-desc {
        padding: 0 30px;
    }
}/* 1450px이하 미디어쿼리 종료 */

/* 1050px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1050px) {
    /* 상단부 */
    #header {
        height: 60px;
    }
    /* 상단부 top-box */
    .top-box{
        padding-bottom: 0;
    }
    /* 1-1. 메뉴구성 */
    .header .gnb-menu ul{
        position: absolute;
        top: 100%;
        width: 200vw;
        height: 45px;
        background-color: #ffffff5e;
        text-shadow: 1px 1px 0px #000;
        margin-left: 0px;
        overflow: hidden;
    }
    /* gnb오버시 */
    .header .gnb-menu li:hover a::after {
        margin-top: -11px;
    }
    
    .header .partbox a {
        display: inline-block;
        height: 100%;
        width: auto;
    }
    /* 검색창 input박스 */
    #search {
        padding: 8px 0px min(0.5vw, 6px) 10px;
        width: 30vw;
        background-color: #fff0;
        border: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        box-shadow: none;
        font-size: var(--fz-sign);
        color: #fff;
    }
    #search::placeholder {
        color: white;
    }
    /* 검색창 아이콘 */
    .search-box i {
        left:53%;
        color: white;
    }
    /* 상단 로그인 회원가입 */
    .header .side-group {
        display:none;
    }
}/* 1050px이하 미디어쿼리 종료 */

/* 700px 이하 미디어쿼리 시작 */
@media screen and (max-width: 700px) {
    /* 상단 배치 변경 */
    .top-box .partbox:nth-child(1){
        order: 1;
    }
    .top-box .partbox:nth-child(2){
        order: 0;
    }
    .top-box .partbox:nth-child(3){
        order: 2;
        flex-basis: 30%;
    }
    /* 1-1. 메뉴구성 */
    .header .gnb-menu ul{
        left: 0;
    }
    /* 검색박스 안보이게 */
    #search{
        width: 0;
        height: 0;
        border: none;
    }
    /* 검색버튼 나오기 */
    .search-box i {
        left: 34%;
        vertical-align: baseline;
    }
}/* 700px 이하 미디어쿼리 종료 */

/* 500px 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    /* 1-1. 메뉴구성 */
    .header .gnb-menu ul {
        gap: 0 2%;
    }
    /* 돋보기 */
    .search-box i {
        left: -5%;
    }
    /******** 3. 하단영역 **********/
    .footer.inbox {
        flex-direction: column-reverse;
        min-height: auto;
    }
    /* 하단 공통 박스 */
    .footer .partbox {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0px;
        justify-content: center;
    }
    /* 회사정보,로고 공통박스 */
    .footer .footer-company-desc {
        padding: 0 10px;
        text-align: center;
    }
    /* 하단 회사정보 */
    .footer .footer-company-desc .partbox:first-child {
        height: auto;
        margin: 5px auto;
    }
    .footer-company-desc li{
        margin-bottom: 2px;
    }
    /* 하단 로고박스 */
    .footer .logo {
        background: url(../images/logo_en_wt.png) no-repeat 50%/auto 37px;
    }
    /* 하단 sns 겉박스 */
    .footer .footer-sns {
        flex-basis: 100%;
    }
    /* 하단 sns 속박스 */
    .footer-sns .partbox {
        justify-content: center;
        margin-top: 5px;
    }
    /* 하단 sns ol */
    .footer-sns ol {
        height: auto;
        display: flex;
        gap: 0px 20px;
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }
}