@charset "uft-8";
/* 온고롱 서브 주문하기 - sub_order.css */
/* CSS 불러오기 영역 */
/* 리셋, 공통, 코어 외부 CSS합치기(merging) */
@import url(./common.css);
@import url(./core.css);
@import url(./reset.css);
/* 타임피커 css */
@import url(./time_picker.css);

/* 2. 메인영역 */
#main {
  background-color: #eeeeee;
  overflow: hidden;
  color: #1a1a1a;
}
/* 2-1.타이틀 */
.main .top-title {
  line-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* 타이틀 글자 h1 */
.top-title h1 {
  font-size: var(--fz-biger);
  text-indent: 2vw;
  color: #1a1a1a;
  height: 100%;
}
/* 진행절차 */
.proceed-nav {
  max-width: 550px;
  min-width: 500px;
  box-sizing: border-box;
  color: #aaa;
  font-size: var(--fz-top);
}
/* 진행절차 ol */
.proceed-nav ol {
  position: relative;
  /* point-box부모 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
/* 진행절차 li */
.proceed-nav li {
  position: relative;
  /* on 가상요소 부모 */
  height: 40px;
  line-height: 42px;
  padding: 0 20px;
}
.proceed-nav li:nth-child(4),
.proceed-nav li:nth-child(5),
.proceed-nav li:nth-child(6) {
  text-align: right;
}
.proceed-nav span {
  position: relative;
}
.proceed-nav li.on {
  color: #1a1a1a;
  font-weight: bold;
}

/* 2-2. 주문창 */
.order-box {
  max-width: 1400px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* 폼구역 */
.form-area {
  position: relative;
  height: 600px;
  width: 780px;
}
/* 폼구역 박스공통 */
.form-area > div {
  position: relative;
  flex-basis: 60%;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 8px 16px 0 rgb(11 58 22 / 19%);
}
/* 2-3. 주문신청서 */
/* 신청서 박스 개별 */
.form-area .form-box {
  overflow-y: scroll;
  padding: 35px 80px;
  min-height: 560px;
}
/* 신청서 박스 스크롤 */
.form-box::-webkit-scrollbar {
  /* 세로축 스크롤바 폭 너비 */
  width: 10px;
}
/* 신청서 타이틀 */
.form-title {
  font-size: var(--fz-big);
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}
/* 신청서 타이틀 아이콘 */
.form-title i {
  margin-right: 10px;
}
/* 신청서 내용 */
.form-content {
  font-size: var(--fz-sign);
  color: #aaa;
  max-width: 750px;
  margin: 0 auto;
}
/* 신청서 내용 dl */
.form-content dl {
  display: flex;
  flex-wrap: wrap;
}
/* 신청서 내용 dt */
.form-content dt {
  width: min(112px, 25%);
  margin: 10px 0;
}
/* 신청서 내용 dd */
.form-content dd {
  width: 75%;
  margin: 10px 0;
}
/*********** 2-4. 주문진행 *************/
.proceed-box {
  width: 500px;
  min-height: 560px;
  box-sizing: border-box;
  padding: 10px 20px;
}
/* 진행절차 li에 배경박스*/

/* 진행절차 타이틀 */
.proceed-title {
  width: 100%;
  letter-spacing: 2px;
}
.proceed-title h2 {
  font-size: var(--fz-big);
  padding: 10px;
}
/* 절차내용 겉박스: 단계별 절차 */
.proceed-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* 절차내용 ol: 전 단계*/
.proceed-content ol {
  display: flex;
  width: 600%;
  transform: translateX(0%);
}
/* 절차내용 ol>li: 단계별 절차*/
.proceed-list {
  width: 16.67%;
  height: 100%;
  margin: 10px 10px;
  box-sizing: border-box;
}
/* 절차 내용 ul*/
.proceed-content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  box-sizing: border-box;
  font-size: var(--fz-top);
}
/********* 절차 내용(1. 목적) li *********/
.proceed-content ul > li {
  position: relative;
  /* 절차 3, 케이크박스용 */
  height: 70px;
  border-radius: 10px;
  line-height: 70px;
  text-indent: 32px;
  color: #555;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px var(--co-ondgop);
  cursor: pointer;
}
/* 절차 내용(1. 목적) li 마우스오버*/
.proceed-content ul > li.on,
.proceed-content ul > li:hover {
  background-color: var(--co-onlightgreen);
  box-shadow: 0px 0px 4px 1px var(--co-ondgop);
  color: white;
}
/********* 절차 내용(2. 일정) li *********/
/* input달력보기 박스 설정 */
.proceed-list .day-time {
  width: calc(100% - 40px);
  height: 45px;
  border: none;
  border-radius: 10px;
  padding: 3px 20px;
  color: #555;
  border: 1px solid var(--co-ongreen);
  background-color: #fff;
  font-size: var(--fz-sign);
  cursor: pointer;
}
/* input 플레이스홀더 글자색상 */
.proceed-list .day-time::placeholder {
  color: var(--co-ondarkgreen);
}
/* 달력보기 박스 오버시 */
.proceed-list .day-time:focus,
.proceed-list .day-time:hover {
  background-color: var(--co-onlightgreen);
  color: white;
  box-shadow: 2px 8px 16px 0 rgb(11 58 22 / 32%);
}
/* 숨김박스들 공통 */
.hide-box {
  position: fixed;
  /* 위치값 주기 */
  top: 0;
  left: 0;
  z-index: 999;
  /* 화면 최 상단으로 */
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 44%);
  /* 기본 숨기기 */
  display: none;
}
/* 달력보기 박스 클릭 시 */
.popup-box {
  position: absolute;
  /* 박스 화면 맨 위로 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  padding: 30px 20px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 8px 16px 0 rgb(11 58 22 / 19%);
  background-color: #fff;
  /* 글자설정 */
  font-size: var(--fz-top);
}
/* 달력보기 박스 숨기기 */
.calendar-box {
  /* 기본 숨기기 */
  display: none;
}
/* 팝업박스 바디 - 캘린더*/
.calendar-box .pop-body {
  height: 320px;
  position: relative;
  /* 시간선택박스 white-box 부모자격 */
}
/* 팝업박스 바디 - 시간*/
.pop-body {
  height: 250px;
  position: relative;
}
/* 팝업박스 상단 */
.pop-head {
  position: relative;
  /* 달력 버튼부모 */
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.pop-head::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to left, white 5%, var(--co-ondarkgreen), white 95%);
}
/* 팝업박스 상단 타이틀 */
.pop-head-tit {
  display: block;
  padding: 3px 0;
  margin-bottom: 10px;
  font-size: var(--fz-big);
  width: 100%;
}
/* 팝업박스 상단 년 월 */
.cal-title {
  width: 100%;
  padding-bottom: 10px;
}
/* 달력 월 선택 */
.month {
  text-align: center;
  padding-bottom: 30px;
}
/* 달력 넘기기버튼 공통 */
.calbtn {
  position: absolute;
  top: 59%;
  font-size: var(--fz-big);
  color: #555;
  cursor: pointer;
  background-color: #fff;
}
/* 이전 월 버튼 */
.btnL {
  left: 20%;
}
/* 이후 월 버튼 */
.btnR {
  right: 20%;
}
/* 버튼 마우스오버시 */
.calbtn:hover {
  color: #888;
  text-shadow: 0px 0px 2px #00000080;
}
/* 달력 section */
/* 달력 주간, 일간 공통 */
.date,
.day {
  position: relative;
  /* 가상요소용 부모 */
  /*한 줄 7개씩 정렬*/
  text-align: center;
  width: calc(100% / 7);
  height: 45px;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
  line-height: 45px;
}
/* 달력 주 */
.calendar .week {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* 달력 일 */
.calendar .dates {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.date {
  cursor: pointer;
}
.date:nth-child(7n),
.day:nth-child(7n) {
  /*.date와 .day의 7n번째 요소만 적용. 즉 토요일의 세로줄*/
  background-color: #6495ed20;
  color: cornflowerblue;
}
.date:nth-child(7n + 1),
.day:nth-child(7n + 1) {
  /*.date와 .day의 7n+1번째 요소만 적용. 즉 일요일의 세로줄*/
  background-color: #ff450020;
  color: orangered;
}
/* 달력 사방 끝 라운드처리 */
.day:nth-child(1),
.day:nth-child(7) {
  border-radius: 8px 8px 0 0;
}
.date:nth-child(36),
.date:nth-child(42) {
  border-radius: 0 0 8px 8px;
}
/* 달력 오늘날짜 가상요소 */
.date.today::after {
  content: "";
  position: absolute;
  left: 16%;
  top: 23%;
  aspect-ratio: 1/1;
  height: 75%;
  /*오늘 날짜에 테두리를 줍니다. !important로 border의 우선순위를 1순위로 만들 수 있습니다.*/
  outline: 2px dotted gray;
  border-radius: 50%;
}
/* 달력 선택날짜 */
.dates .date.check::before {
  content: "";
  position: absolute;
  left: 7.1%;
  top: 13.4%;
  aspect-ratio: 1/1;
  height: 95%;
  background-color: var(--co-onlightgreen);
  opacity: 0.4;
  color: white;
  border-radius: 50%;
}
/* 팝업창 이전다음 버튼 */
.proceed-btn-box.pop-btn {
  height: auto;
  justify-content: space-between;
  padding: 0.3vw 1vw;
}
/* 팝업박스 개별 */
.popup-box.timer {
  height: auto;
}
/* 시간선택 박스 */
.time-box {
  position: relative;
  /* 위치를 적용하기 위해서 */
  display: flex;
  align-items: center;
  text-align: center;
  height: 190px;
}
/* 시간선택 박스 숨기기 */
.timer {
  /* 기본 숨기기 */
  display: none;
}
/* 시간선택 버튼공통 */
.thr-btn-box {
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
}
/* 시간선택 버튼 i*/
.thr-btn-box i {
  /* 등분할 */
  flex: 1;
  height: 100%;
  color: #ccc;
  cursor: pointer;
}
.thr-btn-box i:hover {
  color: #888;
}
/* 시간선택 세로박스 */
.time-box ul {
  /* 등분할 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
}
/* 시간선택 선택영역 */
.time-part li:first-child {
  background-color: #ccc;
}
.time-h li:nth-child(3) {
  background-color: #ccc;
}
.time-m li:nth-child(2) {
  background-color: #ccc;
}
/* 시간선택 상하단 */
.white-box {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
}
/* 첫번째 박스 */
.wbox1 {
  top: 30px;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}
/* 두번째 박스 */
.wbox2 {
  bottom: 30px;
  background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}
/* 픽업박스 */
/* 픽업박스 h3 */
.pick-up h3 {
  font-size: var(--fz-big);
  margin: 33px 0px 20px;
}
/* 픽업박스 input */
.pick-up input {
  width: calc(100% - 40px);
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 9px 0px;
  padding: 0px 20px;
  color: #555;
  border: 1px solid var(--co-ongreen);
  background-color: #fff;
  font-size: var(--fz-sign);
}
.pick-up input:first-of-type {
  margin-top: 28px;
}
.pick-up input:last-child {
  margin-bottom: 68px;
}
.pop-footer {
  margin-top: 20px;
}
/********* 절차 내용(3 상품) *********/

/* 서브메뉴 겉박스 */
.proceed-list:nth-child(3) .sub {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 0;
  border-radius: 10px;
  background-color: #ffffffe8;
  font-size: var(--fz-sign);
  /* 하위메뉴 숨기기 */
  overflow: hidden;
}
/* 서브메뉴 속박스 */
.proceed-list:nth-child(3) .sub-menu {
  padding: 10px 0;
}
/* 상품명 오버시 + 선택시 서브 보이기*/
.proceed-list ul > li.open .sub,
.proceed-list ul > li:hover .sub {
  color: #555;
  height: 160px;
  z-index: 10;
  box-shadow: 0px 0px 5px 2px var(--co-onlightgreen);
  /* 트랜지션 */
  transition: 0.5s;
}
/* 상품명 오버시 + 클릭 시 하위메뉴 밀기 */
.step-2 > ul.open {
  gap: 180px 30px;
}
/* 상품명 오버시 열리기 */
/* 절차내용 서브박스 span */
.sub-menu span {
  display: block;
  width: 150px;
  height: 40px;
  margin: 5px auto;
  line-height: 5rem;
}
/* 서브메뉴 상품명 오버시 */
.sub-menu span:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  background-image: radial-gradient(var(--co-onbeige) 1%, white);
}
/***** 서브메뉴 선택시 ****/
.sub-menu span.open {
  color: #000;
  background-image: radial-gradient(var(--co-onbeige) 1%, #f6f7f6);
}
/* 제품고르기 겉박스 */
/* 초기값 */
.prod-box {
  position: absolute;
  height: 0;
  overflow: hidden;
  /* 트랜지션 */
  transition: 0.4s;
}
/* 서브메뉴 선택 시 제품고르기 겉박스 올라오기 */
.prod-box.view {
  height: auto;
  transform: translateY(-100%);
  box-shadow: 0px -1px 2px rgba(3, 15, 6, 0.404);
}
/* 제품고르기 박스 */
.list-type {
  padding: 22px;
}
/* 상품 타이틀 구역 */
.list-type .title-box {
  height: 80px;
  line-height: 80px;
  box-shadow: none;
  position: relative;
}
/* 상품 타이틀 테두리 */
.list-type .title-box .tit {
  display: inline-block;
  height: 40px;
  width: 100%;
  /* 글자세팅 */
  font-size: var(--fz-top);
  text-align: center;
  letter-spacing: 2px;
  background-color: #fff;
}
/* 상품 타이틀 닫기버튼 */
.close-btn {
  position: absolute;
  color: #1a1a1a;
  font-size: var(--fz-big);
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.close-btn:hover {
  transform: rotate(-90deg);
}
.list-type .title-box button {
  right: 0;
  top: 0;
}
/* 상품 리스트박스 */
.list-type .list {
  width: 100%;
  margin: 0 auto;
}
/* 리스트박스 ol */
.list-type ol {
  display: flex;
  gap: 0px 0.5vw;
  height: 100%;
}
/* 리스트박스 li */
.list-type ol > li {
  flex: 1;
}
/* 리스트 박스 li 오버 시 */
.list-type ol > li:hover {
  outline: 1px solid var(--co-onlightgreen);
  cursor: pointer;
}
/* 리스트 박스 li안쪽 박스 */
.list-type .partbox {
  box-shadow: 1px 1px 6px #00000080;
}
/* 이미지 바깥쪽 박스 */
.img-box {
  min-width: 120px;
  aspect-ratio: 1/1;
}
/* 이미지 */
.img-box img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
/* 정보박스 */
.txt-box {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px 10px;
}
/* 상품정보 공통 */
.txt-box li {
  margin-bottom: 5px;
}
/* 상품명 */
.prod-name {
  font-size: var(--fz-top);
  font-weight: bold;
}
/* 상품가 */
.prod-price {
  font-size: var(--fz-nav);
}
/************ 상품 선택 시 ************/
/* 오른쪽 옵션 내용 */
.step-4 ol {
  display: block;
  width: auto;
}
.step-4 ol li {
  display: flex;
  padding: 0 0 10px;
  font-size: var(--fz-nav);
  font-weight: 500;
}
.step-4 .option-title {
  padding-top: 40px;
}
.step-4 li i {
  color: var(--co-ongreen);
  font-size: var(--fz-big);
  line-height: 37px;
  padding-right: 10px;
}
.step-4 span {
  line-height: 35px;
}
.step-4 li div {
  width: calc(100% - 40px);
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  padding: 0px 20px;
  color: #555;
  border: 1px solid var(--co-ongreen);
  background-color: #fff;
  font-size: var(--fz-sub);
}
/* 제품 옵션 박스 */
/* 옵션 겉박스 */
.form-area .prod-option {
  position: absolute;
  /* 박스위에 덮기 */
  top: 0;
  width: 100%;
  /* 초기박스 높이값 0 */
  overflow: hidden;
  height: 0;
  font-size: var(--fz-sub);
  /* 트랜지션 */
  transition: 0.4s ease-out;
  border-radius: 10px 5px 5px 10px;
}
/* 옵션 겉박스 view클래스 */
.prod-option.view {
  height: 544px;
  overflow-y: scroll;
}
/* 스크롤바 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기변경 */
  width: 7px;
}
.scbar::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  background-color: #555;
  border-radius: 3px;
}
.scbar::-webkit-scrollbar-track {
  /* 스크롤바 트랙 */
  background-color: #ddd;
  border-radius: 3px;
}
/* 옵션 속박스 */
.form-area .option-box {
  overflow-y: scroll;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-between;
  gap: 0 10px;
}
/* 왼쪽파트 */
.option-basic {
  /* 좌우 등분할 */
  flex: 1;
}
/* 왼쪽파트 안내부 */
.option-basic dt {
  width: 80%;
  padding: 5px 0 0 2px;
  border-radius: 20px;
  background: var(--co-ongreen);
  color: #fff;
  text-align: center;
}
.option-basic dd {
  min-width: 150px;
  max-width: 280px;
  padding: 15px 5px;
  box-sizing: border-box;
  font-size: var(--fz-sub);
  color: #000;
}
/* 오른쪽파트:옵션선택란*/
.option-select {
  /* 좌우 등분할 */
  flex: 1;
}
/* 오른쪽옵션 닫기버튼 */
.option-select .close-btn {
  right: 20px;
  top: 20px;
}
/* 옵션 dt */
.option-select dt {
  font-size: var(--fz-sign);
  margin: 10px 10px 0 10px;
  border-bottom: 1px solid #ccc;
}
/* 옵션 dt 1번 margin */
.option-select dl:first-child dt {
  margin: 0px 10px;
  font-size: var(--fz-sign);
}
/* 옵션 dd */
.option-select dd {
  margin: 10px 0;
  cursor: pointer;
}
.option-select dd > div {
  flex: 1;
}
/* 맛선택 박스 */
.details {
  position: relative;
  /* select박스 부모 */
}
/* 맛선택 이미지 겉박스 */
.details .img-box {
  min-width: 60px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #00000080;
}
/* 맛선택 옵션 */
input[type="radio"] {
  display: none;
}
.option-select dd {
  display: flex;
  gap: 0 10px;
  justify-content: space-between;
}
/* 이미지 */
.details .img-box img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: 0.85;
  cursor: pointer;
}
/* 이미지 마우스오버 시 */
.details .img-box:hover img {
  opacity: 1;
}
/* 선택사항 선택 가상요소이미지 */
.option-select [type="radio"]:checked + .details::after {
  content: "\f00c";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
}
/* 글자 */
.details .txt-box {
  text-align: center;
}
.details .txt-box {
  font-size: var(--fz-sub);
}
/* 크기 박스 */
.container {
  position: relative;
  min-width: 60px;
  aspect-ratio: 100/75;
  opacity: 0.85;
  cursor: pointer;
}
/* 하단 원형 기둥 */
.cylinder {
  position: absolute;
  /* 부모는 container */
  min-width: 60px;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 100/75;
  border-radius: 50% / 25%;
  background-color: var(--co-onlightgreen);
}
/* 상단 타원 */
.cylinder::after {
  content: "";
  position: absolute;
  min-width: 60px;
  width: 100%;
  aspect-ratio: 1000/375;
  border-radius: calc(100px / 2) / calc(37.5px / 2);
  background-color: var(--co-ongreen);
}
/* 크기 박스 마우스 오버시 */
.option-select [type="radio"]:checked + .container,
.container:hover {
  opacity: 1;
}
/* 문구 박스 */
#message {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding: 4px 10px;
  border: none;
  box-shadow: 1px 3px 5px 0 rgb(11 58 22 / 19%);
  background-color: #eee;
  font-size: var(--fz-sub);
}
/* 요청사항 박스 */
#request {
  display: block;
  width: 100%;
  height: 73px;
  border-radius: 15px;
  padding: 10px;
  line-height: 22px;
  border: none;
  box-shadow: 1px 3px 5px 0 rgb(11 58 22 / 19%);
  background-color: #eee;
  font-size: var(--fz-sub);
}
/* *********절차5.추가******** */
.step-5 span {
  display: block;
  height: 50%;
  line-height: 2;
}
.step-5 em {
  display: block;
  height: 50%;
  line-height: 1.4;
  font-size: var(--fz-nav);
}
/* *********절차6. 완료******** */
/* 완료 겉박스 */
.step-6 > div {
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 35px;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: var(--fz-nav);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/* 완료 타이틀 */
.step-6 .total-title {
  flex-shrink: 0;
  flex-grow: 0;
  line-height: 1.5;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 8px;
  display: flex;
}
/* 완료 타이틀 아이콘 */
.step-6 .total-title i {
  display: inline-block;
  background-color: var(--co-onlightgreen);
  border-radius: 50%;
  color: #fff;
  padding: 3px 6px;
  margin-right: 10px;
  font-size: var(--fz-sub);
  line-height: 1.5;
}
/* 완료 타이틀 글자 */
.step-6 .total-title h3 {
  letter-spacing: 2px;
}
/* 완료 내용 */
.proceed-content .total-content {
  flex: 1;
  flex-direction: column;
  margin: 15px 5px;
  width: auto;
  overflow-y: scroll;
}
.total-content > li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
/* 완료 합계금액 */
.total-cost {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-between;
  padding: 15px 24px 0px;
  border-top: 0.5px solid #ccc;
}
/******** 버튼들 *******/
/* 절차 버튼 박스*/
.proceed-btn-box {
  display: flex;
  width: 100%;
  height: 100px;
  gap: 50px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
}
/* 버튼 공통 클래스 */
.btn {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px var(--co-onlightgreen);
  /* 글자세팅 */
  font-size: var(--fz-nav);
  color: var(--co-onlightgreen);
  text-align: center;
  letter-spacing: 4px;
  line-height: 2.2px;
  background-color: #fff;
}
/* 팝업용 버튼 박스 */
.pop-btn {
  gap: 30px;
}
/* 팝업용 버튼 */
.pop-btn .btn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  letter-spacing: 2px;
}
/* 옵션용 버튼 박스 */
.aside-btn {
  height: auto;
  padding-left: 10px;
  gap: 50px;
  margin-top: 20px;
}
/* 옵션용 버튼박스 */
.aside-btn .btn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  letter-spacing: 2px;
}
/* 버튼 화살표 아이콘 */
.btn i {
  color: var(--co-onlightgreen);
  font-size: var(--fz-nav);
}
/* 버튼 오버시 */
.btn:hover {
  background-color: var(--co-onlightgreen);
  color: white;
}
.btn:hover i {
  background-color: var(--co-onlightgreen);
  color: white;
}

/*****************미디어쿼리*****************/
/* 1450px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1450px) {
  /* 2-3. 주문신청서 */
  /* 신청서 박스 개별 */
  .form-area .form-box {
    padding: 35px;
  }
  /* 완료 겉박스 */
  .step-6 > div {
    padding: 25px;
  }
} /* 1450px이하 미디어쿼리 종료 */
/* 1050px 이하 미디어쿼리 시작 */
@media screen and (max-width: 1050px) {
  /* 진행절차 배경 */
  .proceed-nav li.on::before {
    width: max(12vw, 75px);
  }
  /* 진행절차 박스 */
  .proceed-box {
    min-width: 380px;
    min-height: auto;
  }
  .proceed-content ul > li {
    text-indent: 0px;
    text-align: center;
  }
  /* 절차 버튼 박스 */
  .proceed-btn-box {
    padding: 10px;
    gap: 4vw;
  }
  /* 완료 겉박스 */
  .step-6 > div {
    padding: 15px;
  }
  .list-type .title-box {
    height: 40px;
    line-height: 20px;
  }
} /* 1050px이하 미디어쿼리 종료 */
/* 750px 이하 미디어쿼리 시작 */
@media screen and (max-width: 750px) {
  /* 2-1.타이틀 */
  .main .top-title {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 70px;
  }
  .proceed-nav {
    width: 100%;
  }
  /* 진행절차 ol */
  .proceed-nav ol {
    grid-template-columns: repeat(6, 1fr);
  }
  /* 진행절차 li */
  .proceed-nav li {
    padding: 0;
  }
  .proceed-nav li:nth-child(4),
  .proceed-nav li:nth-child(5),
  .proceed-nav li:nth-child(6) {
    text-align: left;
  }
  .order-box {
    flex-direction: column;
    gap: 20px 10px;
  }
  /* 주문신청서 겉박스 */
  .form-area {
    min-height: auto;
    width: calc(100% - 20px);
    margin: 0px 10px;
    height: auto;
  }
  /* 주문신청서 및 왼쪽 박스공통 */
  .form-area .form-box {
    transform: translateY(18px);
    overflow-y: scroll;
    min-height: auto;
  }
  /* 주문단계 전체박스 */
  .proceed-box {
    width: 100%;
    max-width: none;
    padding: 10px 0px;
  }
  .proceed-nav {
    max-width: none;
  }
  .proceed-nav li.on::before {
    width: 110px;
  }
  .proceed-btn-box {
    margin-top: 0px;
    justify-content: space-around;
  }
  /* 주문단계 공통 li */
  .prod-box.view {
    position: absolute;
  }
  .list-type > .partbox:first-of-type {
    margin: 10px 0;
  }
  /* 상품 리스트박스 */
  .list-type .list {
    height: auto;
    margin: 0 auto;
  }
  /* 팝업 시간박스 */
  .popup-box.timer {
    height: auto;
  }
} /* 750px이하 미디어쿼리 종료 */
/* 500px 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
  /* 2-3. 주문신청서 */
  /* 신청서 박스 개별 */
  .form-area .form-box {
    padding: 20px 15px;
  }
  /* 신청서 타이틀 */
  .form-title {
    margin-bottom: 20px;
  }
  .proceed-box {
    min-width: 220px;
  }
  .proceed-nav {
    min-width: auto;
  }
  /* 픽업 */
  .pick-up input:first-of-type {
    margin-top: 20px;
  }
  .pick-up input:last-child {
    margin-bottom: 20px;
  }
  /* 상품 서브 */
  .sub-menu span {
    width: auto;
  }
  /* 절차 내용 ul*/
  .proceed-content ul {
    gap: 20px 10px;
    justify-items: flex-end;
  }
  /* 절차내용 li*/
  .proceed-content ul > li {
    width: 96%;
  }
  /* 픽업 입력칸 */
  .pick-up input {
    margin: 1.5vw;
    height: 34px;
  }
  /* 절차버튼들 */
  .btn {
    width: 125px;
    height: 40px;
    letter-spacing: 3px;
  }
  /* 시간선택 박스 */
  .proceed-list .day-time {
    margin: 1.5vw;
  }
  /* 선택박스 */
  .select-box {
    height: 23px;
  }
  /* 제품리스트 */
  .list-type {
    padding: 10px;
  }
  /* 제품리스트 선택 시 옵션 창 겉박스 */
  .form-area .option-box {
    flex-direction: column;
  }
  /* 제품리스트 선택 시 옵션 창 */
  .prod-option.view {
    height: auto;
    bottom: auto;
    top: 150px;
    z-index: 2;
  }
  /* 선택옵션 안쪽 버튼 */
  .prod-option .proceed-btn-box {
    width: 100%;
  }
  /* 제품선택 옵션이미지 */
  .prod .partbox {
    margin: 10px auto;
  }
    /* 완료 겉박스 */
    .step-6 > div {
      height: 340px;
    }
} /* 500px이하 미디어쿼리 종료 */
