/* 레오폴드 서브페이지용 css - subboard.css */

/* 타이틀 서브 */
.top-title small {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-family: KOFIHDrLEEJWTTF-L;
}

/************** 2. 메인영역  ****************/
/* 네비게이션 구역 */
.nav-area {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}
.nav-area ul {
  /* gap: .2vw; */
  height: 90%;
  align-items: flex-end;
  justify-content: space-between;
}
.nav-area ul li {
  cursor: pointer;
}
/* 타이틀 */
.nav-tit {
  font-size: .7rem;
  font-family: KOFIHDrLEEJWTTF-L;
}
/* 컨텐츠 */
.nav-cont {
  position: relative;
  height: 5px;
  border-radius: 10px;
  border: 1px solid coral;
}
/* 네비게이션 색채우기 구역 */
.nav-full {
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 5px;
  border-radius: 10px;
  background-color: coral;
}
.nav-area li.on .nav-full {
  width: 100%;
}
/* 각 제품 구역 */
.prod-area {
  position: relative;
  /* 위시버튼 부모 */
}
/* 제품정보 겉박스 */
.prod-info {
  position: relative;
  width: 100%;
  outline: 1px solid #eee;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all .3s ease-out;
}
/* 움직일 이미지 박스 - 속박스 */
.info-box {
  position: relative;
  height: 100%;
  flex-wrap: nowrap;
  align-items: flex-start;
}
/* 이미지 */
.info-box img {
  position: relative;
  width: 100%;
  object-fit: fill;
}
/* 위시리스트 버튼 */
.wish-sub {
  right: auto;
  bottom: 70px;
  left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}
/* 구매하기 버튼 */
.buy-btn {
  left: 210px;
  outline-color: cornflowerblue;
}
/* 구매하기 오버 시 */
.buy-btn:hover {
  background-color: cornflowerblue;
}
